 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
      body {
        font-family: "Poppins", sans-serif;
      }
      html {
  scroll-behavior: smooth;
}

      .mobile-menu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
      }
      .mobile-menu.open {
        max-height: 500px;
      }
      .skill-bar {
        transition: width 1.5s ease-in-out;
      }
      .project-card:hover {
        transform: translateY(-5px);
      }